@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f6f6;
  font-family: 'Figtree', sans-serif;
}
.nav-link.active {
  background-color: #53af53;
  color: #f6f6f6;
}